:root {
    --content-width: 70%;
}

html,
body {
    margin: 0 !important;
    padding: 0;
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}

.navbar {
    z-index: 999;
    position: fixed;
    width: 100%;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.075);
}

.bgParallax {
    background-repeat: no-repeat;
    background-position: center -250px;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
}

.content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
}

.part {
    padding: 10px;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
}

hr + .part {
    margin-top: 30px;
    margin-bottom: 30px;
}

.part + hr {
    margin-top: 30px;
}
.part + hr + .part {
    margin-bottom: 30px;
}

p {
    font-size: 1.25rem;
}

@media screen and (min-width: 800px) {
    .content {
        top: 150px;
        width: var(--content-width);
        margin-left: calc((100% - var(--content-width)) / 2);
        margin-right: calc((100% - var(--content-width)) / 2);
        padding: 30px;
    }
}

@media screen and (max-width: 799px) {
    body {
        background-color: #ccc;
    }
    p {
        font-size: 1rem;
    }
    .content {
        top: 100px;
        width: 90%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 15px;
    }
}
